<header class="section-intro">
	{{#if heading}}
	<h2 class="section-intro__heading">
		{{heading}}
	</h2>
	{{/if}}
	<p>
		{{text}}
	</p>

	{{#if button}}
		{{> atoms/buttons-link/buttons-link button}}
	{{/if}}
</header>
