// Styleguide.

.styleguide__section {
	border-bottom: 1px solid getColor(tertiary);
}

.styleguide__advantage-bold {
	font-family: $F-Family;
	font-weight: bold;
}

.styleguide__column {
	background: getColor(tertiary);
	padding: $row-divider;
}

.styleguide__colour-block {
	display: block;
	margin: 0;
	padding: $row-divider;
	text-align: center;

	&--primary,
	&--secondary,
	&--highlight {
		color: getColor(white);
	}

	&--standout,
	&--tertiary {
		color: getColor(black);
	}

	&--primary {
		background-color: getColor(primary);
	}

	&--secondary {
		background-color: getColor(secondary);
	}

	&--tertiary {
		background-color: getColor(tertiary);
	}

	&--standout {
		background-color: getColor(standout);
	}

	&--highlight {
		background-color: getColor(highlight);
	}

	.styleguide__advantage-bold {
		display: block;
	}
}

.styleguide {
	counter-reset: section;
}

.styleguide__counter {
	counter-increment: section;

	&::before {
		color: getColor(secondary);
		content: '0' counter(section);
		margin-right: $row-divider / 2;
	}
}

.styleguide__logo-box {
	height: 300px;
	padding: $row-divider;
	position: relative;

	&--blue {
		background-color: getColor(secondary);
	}

	.logo {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.styleguide__section .modules {
	background: getColor(standout);
}

.styleguide__section .modules__circle {
	border: 0;
}
