<div class="grid__row styleguide__section">    
    <h3>Fonts</h3>
    <p class="styleguide__advantage-bold">Open Sans Bold - Used for headings, bold links and buttons.</p>
    <p>Lato Light - Used for body copy & inline links. All generic text will use this font.</p>
</div>