
<div class="grid__row styleguide__section">
    <h3>Icons</h3>
    <p>We only use a few icons on the site which are:</p>
    <ul class="grid grid--4">
        <li class="grid__column">
            <div class="styleguide__icon">
                {{> atoms/icon/icon name="cartridge"}}
                <span class="styleguide__advantage-bold">icon--cartridge</span>
            </div>
        </li>

        <li class="grid__column">
            <div class="styleguide__icon">
                {{> atoms/icon/icon name="cog"}}
                <span class="styleguide__advantage-bold">icon--cog</span>
            </div>
        </li>

        <li class="grid__column">
            <div class="styleguide__icon">
                {{> atoms/icon/icon name="fast"}}
                <span class="styleguide__advantage-bold">icon--fast</span>
            </div>
        </li>

        <li class="grid__column">
            <div class="styleguide__icon">
                {{> atoms/icon/icon name="bug"}}
                <span class="styleguide__advantage-bold">icon--bug</span>
            </div>
        </li>
    </ul>
</div>