<div class="grid__row styleguide__section">
    <h3>Layout</h3>
    <p>
        We use flex to control our layout. We have a four column flex grid & a two column. The 4 grid will stack two by two between 640px - 768px
        and then stack as one at 640px and under. The two column layout will stack as one column at 640px.
    </p>

    <div class="grid grid--4">
        <div class="grid__column styleguide__column">
        </div>
        <div class="grid__column styleguide__column">
        </div>
        <div class="grid__column styleguide__column">
        </div>
        <div class="grid__column styleguide__column">
        </div>
    </div>

	<div class="grid grid--3">
        <div class="grid__column styleguide__column">
        </div>
        <div class="grid__column styleguide__column">
        </div>
        <div class="grid__column styleguide__column">
        </div>
    </div>

    <div class="grid grid--2">
        <div class="grid__column styleguide__column">
        </div>
        <div class="grid__column styleguide__column">
        </div>
        <div class="grid__column styleguide__column">
        </div>
        <div class="grid__column styleguide__column">
        </div>
    </div>
</div>
