<div class="grid__row styleguide__section">
    <h3>Logo</h3>
    <p>
        We have two variations of the logo on the site. The single logo icon on its own and the logo with text that will sit
        on the right of the logo.
    </p>
    <div class="grid grid--2">
        <div class="grid__column">
            <div class="styleguide__logo-box">
                {{> atoms/logo/logo--big}}
            </div>
        </div>
        <div class="grid__column">
            <div class="styleguide__logo-box styleguide__logo-box--blue">
                {{> atoms/logo/logo}}
            </div>
        </div>
    </div>
</div>