<div class="terminal">
	<div class="terminal__header">
		<span class="terminal__header-option terminal__header-option--close"></span>
		<span class="terminal__header-option terminal__header-option--shrink"></span>
		<span class="terminal__header-option terminal__header-option--expand"></span>
	</div>
	<ol class="terminal__list" data-typewriter="">
		<li class="terminal__item" data-typewriter-row="" data-typewriter-visible="true">
			<span class="terminal__text terminal__text--command-white" aria-role="presentation">user:awesome-project username$</span>
			<span class="terminal__text terminal__text--command-blue" data-typewriter-content="npm i cartridge-cli -g"></span>
		</li>
		<li class="terminal__item" data-typewriter-row="" data-typewriter-visible="false">
			<span class="terminal__text terminal__text--command-white" aria-role="presentation">user:awesome-project username$</span>
			<span class="terminal__text terminal__text--command-blue" data-typewriter-content="cartridge new"></span>
		</li>
		<li class="terminal__item" data-typewriter-row="" data-typewriter-visible="false">
			<span class="terminal__text terminal__text--command-standout" aria-role="presentation">?</span>
			<span class="terminal__text terminal__text--command-white">What is the name of your project?</span>
			<span class="terminal__text terminal__text--command-blue" data-typewriter-content="awesome-project"></span>
		</li>
		<li class="terminal__item" data-typewriter-row="" data-typewriter-visible="false">
			<span class="terminal__text terminal__text--command-standout" aria-role="presentation">?</span>
			<span class="terminal__text terminal__text--command-white">What modules do you need?</span>
			<ul class="terminal__modules" data-typewriter-content="">
				<li class="terminal__modules-item">
					<span class="terminal__checkbox"></span>
					<span class="terminal__text terminal__text--command-white">Cartridge Sass</span>
				</li>
			</ul>
		</li>
	</ol>
</div>
