// Molecules - Banner

.banner {
	background: getColor(secondary);
	color: getColor(white);
	padding: $row-divider;
	text-align: center;
	width: 100%;
}

.banner__container {
	@include container();
}

.banner__heading {
	margin: 0 auto $row-divider;
	max-width: 640px;
}
