<!-- Banner -->
<section class="banner">
	<div class="banner__container">
		{{> atoms/logo/logo--big}}
		<h1 class="h2 banner__heading">
			{{title}}
		</h1>
		{{#if button}}
			{{> atoms/buttons-link/buttons-link button}}
		{{/if}}
	</div>
</section>
