<script src="/_client/scripts/vendor.js"></script>
<script>

    (function() {

        window.onload = function() {
            var main = document.createElement('script');

            main.src = '/_client/scripts/main.js';
            document.body.appendChild(main);
        }

    }());

</script>
</body>
</html>
