{{> organisms/site-header/site-header header}}
<main>
	{{> molecules/banner/banner banner}}

	{{> organisms/feature-strip/feature-strip featureStrip}}

	<article>
		{{> organisms/modules/modules modules}}
	</article>

	{{> organisms/getting-started/getting-started gettingStarted}}
</main>
{{> organisms/site-footer/site-footer siteFooter}}
