{{> organisms/site-header/site-header header}}
<main>
	{{> molecules/banner/banner banner}}
	<article>
		<div class="container">
			{{> molecules/section-intro/section-intro sectionIntro}}
		</div>
		{{> organisms/modules/modules modules}}
		<div class="container">
			{{> molecules/section-outro/section-outro sectionOutro}}
		</div>
	</article>
</main>
{{> organisms/site-footer/site-footer siteFooter}}

