// Variables for colors
$white: 						#fff;
$black:							#000;

$Colours: (
	primary: #d5033e,
	secondary: #0095ff,
	tertiary: #eaeaea,
	standout: #d9e608,
	highlight: #2a3d51,
	white: #fff,
	black: #000
);
