// Fonts

$F-Generic-Size: 1.125rem;
$F-h5: $F-Generic-Size * 1.25;
$F-h4: $F-h5 * 1.25;
$F-h3: $F-h4 * 1.25;
$F-h2: $F-h3 * 1.25;
$F-h1: $F-h2 * 1.25;
$F-Line-Height: 1.4;
$F-Family: 'Lato', 'sans-serif';
