// Layout these are 'em' widths based on default font size of 16px;

$B-Mobile: 25em; // 400px
$B-Mobile-Large: 30em; // 480px
$B-Tablet-Small: 40em; // 640px
$B-Tablet-Medium: 48em; // 768px
$B-Tablet-Large: 64em; // 1024px
$B-Desktop-Small: 75em; // 1200px
$B-Desktop-Large: 87.5em; // 1400px
