// Settings - icons

$Icons: (
	cartridge:      '../images/svgs/cartridge.svg',
	cog:            '../images/svgs/cog.svg',
	fast:           '../images/svgs/fast.svg',
	bug:            '../images/svgs/bug.svg'
);
