<section class="getting-started">
	<article class="getting-started__wrapper">
		{{> molecules/section-intro/section-intro sectionIntro}}
		{{> atoms/terminal/terminal}}
		{{> molecules/section-outro/section-outro sectionOutro}}
	</article>
</section>
