<footer class="site-footer">
	<nav class="site-footer__navigation">
		<ul class="site-footer__list">
			{{#each footerLink}}
			<li class="site-footer__list-item">
				<a href="{{href}}" class="site-footer__link">{{text}}</a>
			</li>
			{{/each}}
		</ul>
	</nav>
	<p class="site-footer__copyright">&copy; Computerlove 2017</p>
</footer>
